.year-picker__list,
.photos-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.year-picker__list li,
.photos-list li {
  display: inline-block;
}


.Page__photos {
  padding: 10px;
}

.photos-list .photos-list__item { 
  margin-right: 25px;
}

.photos-list .photos-list__item .photo {
  margin: 0
}